body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: antiquewhite;
}

h1 {
    font-size: 35px;
}


h2 {
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 40px;
    ;
}

p {
    font-size: 20px;
}

.ski {
    color: red;
    font-weight: 900;
}

#fastpic {
    height: 550px;
    width: 90%;
}

.sec1 {
    display: inline-flex;
    width: 100%;
    height: 600px;
    margin-bottom: 150px;

}

.divs {
    font-size: larger;
    text-align: left;
    margin-right: 100px;
    margin-left: 50px;
}

.foods {
    text-decoration: none;
    background-image: -moz-linear-gradient();
    background-color: coral;
    font-weight: 800;
    border-radius: 5px;
    color: black;
}

.divss {
    margin-left: 200px;
}

.sec2 {
    display: flex;
    height: 700px;
}

#myimage {
    height: 700px;

}

.seconddivs {
    width: 100%;
    margin-right: 50px;
}

.seconddivss {
    margin-left: 80px;
    width: 80%;
    padding: 5%;
    margin: 5%;
}

.sec3 {
    ;
    display: block;



}

.bigdiv {
    display: inline-flex;
    height: 700px;
    width: 100%;


}

.thireddivs {
    background-color: white;
    box-shadow: 10px 10px 30px bisque;
    width: 100%;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
}

.picture {
    height: 300px;
    width: 100%;
    border: 10px;

}

.thireddivss {
    background-color: white;
    box-shadow: 10px 10px 30px beige;
    width: 100%;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;

}

.lastpera {
    text-align: center;
    font-size: 15px;
}

.lastdivs {
    display: flex;
    background-color: white;

}

span {
    width: 300px;
    margin: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    background-color: darkblue;
    color: antiquewhite;
    font-size: 10px;
}

h6 {
    font-size: 25px;
    color: gray;
}